* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  /* background: linear-gradient(180deg, #0f0f0f, #1877f2); */
}

.nav_section {
  height: 91px;
  background-color: #0f0f0f;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.nav_section > img {
  width: 190px;
  height: 60.66px;
  margin-top: 10px;
}

.top_section {
  margin-top: 90px;
  padding-top: 20px;
  background: linear-gradient(180deg, #0f0f0f 70%, #1877f2);
  /* background: linear-gradient(180deg, #0f0f0f, #0f0f0f, #1877f2, #1877f2); */
}
.heading {
  padding-top: 60px;
  padding-left: 29px;
}
.heading > p {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}
.heading > p:first-child.heading_text_white {
  color: #ecf0f3;
}
.heading > p:last-child.heading_text_yellow {
  color: #f6ca14;
}

.hand {
  width: 100%;
  height: auto;
  /* max-height: 673px; */
}
.wrapper {
  padding-bottom: 80px;
}
.login_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(180deg, #0f0f0f 70%, #1877f2); */
  /* width: 100%; */
  /* height: auto; */
  /* height: 800px; */
}

.login_container {
  /* background-color: #1877f2; */
  /* background: linear-gradient(180deg, #0f0f0f 70%, #1877f2); */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container .logo_container {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-25%, -40%);
  /* top: 50px;
  left: 20px; */
  display: flex;
  align-items: flex-start;
}
.login_container .logo_container .logo_white {
  margin-right: 5px;
}
.login_container .logo_container .trade_mark {
  margin-top: 5px;
}

.login_container .signup_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 357px;
  height: 192px;
  background: #ffffff;
  border-radius: 40px;
}
.signup_inner_container {
  margin-left: 34px;
  margin-top: 24px;
}
.coin_title {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #3f2d3b;
}
.account_label {
  font-size: 9px;
  line-height: 11px;
  color: #3f2d3b;
  margin-top: 10px;
}

input[type="text"],
select {
  width: 280px;
  height: 35px;
  padding: 6px 10px;
  margin: 5px 0;
  background: #ecf0f3;
  border-radius: 10px;
  border-color: #ecf0f3;
  border: none;
}

input[type="text"].mobileno::-webkit-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 151.5%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #c4c4c4;
}

input[type="submit"] {
  width: 131px;
  background: #1877f2;
  border-radius: 50px;
  color: white;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
}
button[type="submit1"] {
  width: 133px;
  background: #1877f2;
  border-radius: 50px;
  color: white;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.mobile {
  height: 649px;
}

.mobile_text {
  position: absolute;
  top: 480px;
  left: 37px;
  /* position: absolute;
  top: 74%;
  left: 58%;
  transform: translate(-74%, -58%); */
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ecf0f3;
  text-align: center;
}
.connect_container {
  background: #ecf0f3;
}
.post_container {
  background: #ecf0f3;
}
.earn_container {
  background: #ecf0f3;
}
.invest_container {
  background: #ecf0f3;
}
.connect_inner_container {
  height: 378px;
  background: #e5265b;
  /* background: #a239ca; */
  border-radius: 0px 0px 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect_main_container {
  height: 378px;
  background: #ecf0f3;
  position: absolute;
}

.connect_container_image {
  position: absolute;
  width: 252px;
  height: 259px;
}
.connect_label_container {
  height: 389px;
  background: #ecf0f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.connect_label_number {
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #130f26;
}
.connect_label_text {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #130f26;
}
.conlusion_container {
  height: 400px;
  background: #1877f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conlusion_text_white {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  color: #ecf0f3;
  margin-left: 30px;
  /* text-align: center; */
  /* margin-top: 130px; */
}

.post_inner_container {
  height: 599px;
  background: #3f2d3b;
  border-radius: 0px 0px 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conlusion_text_yellow {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  color: #fdd015;
  margin-left: 30px;
  /* text-align: center; */
  /* margin-top: 130px; */
}
.conlusion_wrapper {
  margin-left: 30px;
}

.earn_inner_container {
  height: 461px;
  background: #fdd015;
  /* background: #e7dfdd; */
  border-radius: 0px 0px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.earn_image1 {
  align-self: flex-start;
}
.earn_image2 {
  align-self: center;
}
.earn_image3 {
  align-self: flex-start;
}
.earn_image4 {
  align-self: flex-end;
}

button[type="button"] {
  width: 214px;
  background: black;
  border-radius: 50px;
  color: white;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 50px;
}

.invest_inner_container {
  height: 535px;
  background: #3f2d3b;
  border-radius: 0px 0px 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_signup {
  height: 250px;
  background: #1877f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup_container1 {
  width: 357px;
  height: 192px;
  background: #ffffff;
  border-radius: 40px;
  padding-top: 5px;
}

.bottom_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #1877f2 9.76%, #0b0b0b 67.96%);
  /* border: 3px solid #ecf0f3;
  border-radius: 30px 30px 0px 0px; */
}
.alert_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  margin-bottom: 90px;
}

.alert_container .go_to_pro {
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-70%, -60%);
  background: #1877f2;
  border-radius: 30px;
  color: #ecf0f3;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  line-height: 40px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0px 0px;
  white-space: nowrap;
  width: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  margin-left: 5px;
}

.play_store {
  margin-right: 7px;
}

.additional_info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.additional_info {
  color: #ecf0f3;
  margin-right: 15px;
}

.copy_right_container {
  margin-top: 30px;
  margin-bottom: 90px;
}

.copy_right {
  color: #ecf0f3;
  text-align: center;
  font-size: 7px;
}
@media (min-width: 900px) {
  .heading > p {
    font-weight: 800;
    /* font-size: 76px;
    line-height: 117px; */
    font-size: 96px;
    line-height: 117px;
  }
}

@media (min-width: 1350px) {
  .nav_section {
    height: 100px;
    background-color: #0f0f0f;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav_section > img {
    width: 367px;
    height: 88.66px;
    margin-top: 17px;
    margin-left: 16px;
  }
  .top_section {
    margin-top: 100px;
    background: linear-gradient(180deg, #0f0f0f 50%, #1877f2);
    /* padding-top: 100px; */
  }

  .login_container .signup_container {
    position: absolute;
    top: 55%;
    left: 54%;
    transform: translate(-55%, -54%);
    width: 457px;
    height: 192px;
    background: #ffffff;
    border-radius: 40px;
  }

  .heading {
    padding-top: 60px;
    padding-left: 80px;
    /* padding-left: 117px; */
    /* flex: 0.7; */
  }

  .heading > p {
    font-weight: 800;
    /* font-size: 76px;
    line-height: 117px; */
    font-size: 96px;
    line-height: 117px;
  }

  .wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    /* background-color: #1877f2; */
    /* background: linear-gradient(180deg, #0f0f0f 50%, #1877f2); */
  }
  .mobile {
    height: 876px;
  }
  .mobile_text {
    position: absolute;
    top: 680px;
    left: 77px;
    /* position: absolute;
    top: 74%;
    left: 58%;
    transform: translate(-74%, -58%); */
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ecf0f3;
    text-align: center;
  }
  .hand_container {
    flex: 0.95;
    margin-top: -120px;
  }
  .login_main_container {
    /* height: 300px; */
    /* background: linear-gradient(180deg, #0f0f0f 50%, #1877f2); */
  }
  .login_container {
    flex: 0.05;
    margin-top: -500px;
  }
  .connect_label_container {
    height: 500px;
    background: #ecf0f3;
    display: flex;
    flex: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /* 1 */
  .connect_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .connect_inner_container {
    height: 700px;
    /* background: #a239ca; */
    background: #e5265b;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: center;
  }

  .connect_container_image {
    position: absolute;
    width: 562px;
    height: 568px;
  }

  /* 2 */
  .post_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }

  .post_inner_container {
    height: 700px;
    background: #3f2d3b;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
  }

  /* 3 */
  .earn_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .earn_inner_container {
    height: 500px;
    /* background: #e7dfdd; */
    background: #fdd015;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 150px;
    padding-right: 150px;
    flex: 50%;
  }
  /* 4 */
  .invest_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }

  .invest_inner_container {
    height: 700px;
    background: #3f2d3b;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
  }

  /*  */
  .conlusion_container {
    text-align: center;
  }
  .conlusion_text_white .conlusion_text_yellow {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    margin-left: 0px;
  }
  button[type="submit1"] {
    margin-right: 50px;
  }

  .wrapper1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  .login_container .signup_container {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -52%);
    width: 457px;
    height: 269px;
    background: #ffffff;
    border-radius: 40px;
  }
  .coin_title {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
  }

  .account_label {
    font-size: 12px;
    line-height: 15px;
    /* margin-top: 12px; */
    margin-bottom: 15px;
  }

  .signup_container1 {
    flex: 50%;
    width: 457px;
    height: 269px;
    background: #ffffff;
    border-radius: 40px;
    margin-right: 100px;
  }
  .alert_container {
    flex: 50%;
    margin-left: 100px;
  }

  input[type="submit"] {
    width: 131px;
    background: #1877f2;
    border-radius: 50px;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
  }

  input[type="text"],
  select {
    width: 336.89px;
    height: 49.13px;
    padding: 6px 10px;
    margin: 5px 0;
    background: #ecf0f3;
    border-radius: 10px;
    border-color: #ecf0f3;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
